<%-include('_header.ejs') -%>


    <!--header area start-->

    <!--offcanvas menu area start-->
    <div class="off_canvars_overlay">

    </div>


    <!--offcanvas menu area end-->
    <%-include('_head_section.ejs') -%>

        <!--header area end-->


        <!--breadcrumbs area start-->
        <div class="breadcrumbs_area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb_content">
                            <h3>All Products</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--breadcrumbs area end-->

        <!--shop  area start-->
        <div class="shop_area shop_fullwidth mt-100 mb-100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!--shop wrapper start-->
                        <!--shop toolbar start-->
                        <div class="shop_toolbar_wrapper">
                            <div>
                                 <form action="/shop" method="get" id="filterForm">
                                    <div class="form-group" style="display: flex;">
                                    <input name="keyword" value="<%=keyword%>" hidden />
                                      <select class="form-control" id="sortSelect" name="filtertype" onchange="submitForm()">
                                        <option <% if (!filtertype) { %>disabled selected<% } %>>Category Filter</option>
                                        <option value="indoor plants" <% if (filtertype === 'indoor plants') { %>selected<% } %>>Indoor plants</option>
                                        <option value="outdoor plants" <% if (filtertype === 'outdoor plants') { %>selected<% } %>>Outdoor plants</option>
                                        <option value="hanging" <% if (filtertype === 'hanging') { %>selected<% } %>>Hanging plants</option>
                                        <option value="succulent" <% if (filtertype === 'succulent') { %>selected<% } %>>Succulents</option>
                                        <option value="cactus" <% if (filtertype === 'cactus') { %>selected<% } %>>Cactus</option>
                                        <option value="aquatic plants" <% if (filtertype === 'aquatic plants') { %>selected<% } %>>Aquatic plants</option>
                                      </select>
                                      <div class="page_amount">
                                        <% if (filtertype) { %>
                                            <a href="/shop" style="display: inline-block; padding: 5px 10px; background-color: #007bff; color: #fff; text-decoration: none; border: 1px solid #007bff; border-radius: 4px; cursor: pointer;" onmouseover="this.style.backgroundColor='#0056b3'" onmouseout="this.style.backgroundColor='#007bff'">X</a>
                                            <% } %>
                                    </div>
                                    
                                    </div>
                                  </form> 
                            </div>
                            <div class="page_amount">
                                  <form action="/shop" method="get" id="sortForm">
                                    <div style="display: flex;">
                                    <div class="form-group">
                                      <select class="form-control" id="sortSelect" name="sort" onchange="submitSort()">
                                        <option <% if (!sort) { %>disabled selected<% } %>>Sort by</option>
                                        <option value="low-to-high" <%= sort === 'low-to-high' ? 'selected' : '' %>>Price: Low to High</option>
                                        <option value="high-to-low" <%= sort === 'high-to-low' ? 'selected' : '' %>>Price: High to Low</option>
                                      </select>
                                    </div>
                                      <div class="page_amount">
                                        <% if (sort) { %>
                                            <a href="/shop" style="display: inline-block; padding: 5px 10px; background-color: #007bff; color: #fff; text-decoration: none; border: 1px solid #007bff; border-radius: 4px; cursor: pointer;" onmouseover="this.style.backgroundColor='#0056b3'" onmouseout="this.style.backgroundColor='#007bff'">X</a>
                                            <% } %>
                                    </div>
                                    </div>
                                  </form>
                            </div>
                        </div>
                        <!--shop toolbar end-->


                        <% if(productDatas.length==0) { %>

                            <div class="alert alert-warning">
                                <strong>Search not found</strong>
                            </div>

                            <%}%>



                                <div class="row  grid_4">
                                    <% productDatas.forEach(async (product)=> { %>

                                        <div class="col-3 ">
                                            <article class="single_product">
                                                <figure>
                                                    <div class="product_thumb">
                                                        <a class="primary_img"
                                                            href="/productDetails/?id=<%=product.id %>"><img
                                                                src="<%=product.imageUrl[0].url%>" alt=""></a>
                                                        <div class="label_product">
                                                            <!-- <span class="label_sale">-7%</span> -->
                                                        </div>
                                                        <div class="action_links">
                                                            <ul>
                                                                
                                                               
                                                                
                                                                <li class="add_to_cart"><a href="/cart"
                                                                        title="Add to cart"><i  onclick="addToCart('<%=product.id%>')" id="addToCartBtn" 
                                                                            class="icon-shopping-bag"></i></a></li>

                                                                        

                                                                <li class="wishlist"><a 
                                                                        title="Add to Wishlist"><i onclick="addToWishlist('<%= product._id %>','<%= cartId %>')"
                                                                            class="icon-heart"></i></a></li>
                                                               
                                                            </ul>
                                                        </div>
                                                        <div class="action_links list_action">
                                                            <ul>
                                                                <li class="quick_button"><a href="#"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#modal_box" title="quick view">
                                                                        <i class="icon-eye"></i></a></li>
                                                            </ul>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="product_content grid_content">
                                                        <div class="product_price_rating">
                                                          <h4 class="product_name"><a href="/productDetails/<%= product.id %>"><%= product.product_name %></a></h4>
                                                          <div class="price_box">
                                                          <% if (product.categoryID.offer) { %>

                                                            <span class="current_price">&#x20B9; <%= (product.price - (product.price * (product.categoryID.offer / 100))) %>/-</span>
                                                            <span style="text-decoration: line-through;">&#x20B9; <%= product.price %></span>
                                                          <% }else{ %>
                                                            <span >&#x20B9; <%= product.price %></span>
                                                          <% } %>

                                                          </div>
                                                         
                                                        </div>
                                                      </div>
                                        
                                                </figure>
                                            </article>
                                        </div>

                                        <% }) %>

                                </div>
                          

                                <div class="shop_toolbar t_bottom">
                                    <div class="pagination pagination-sm">
                                        <ul>
                                              <% if (totalPages > 1) { %>
                                          <% for (let i = 1; i <= totalPages; i++) { %>
                                              <% if (i === currentPage) { %>
                                            <li class="current">
                                                <span class="page-link"><%= i %></span>
                                            </li>
                                             <% } else { %>
                                            <li class="current">
                                                <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                            </li>
                                            <% } %>
                                            <% } %>
                                        <% } %>
                                           
                                        </ul>
                                    </div>
                                </div>
                        </div>
                </div>
            </div>
        </div>
        <!--shop  area end-->

        <!--footer area start-->
        <%-include('_footer.ejs') -%>

            <!--footer area end-->

            <!-- modal area start-->

            <!-- modal area end-->
            <!-- JS
============================================ -->
            <!--jquery min js-->

            <script src="assets/js/vendor/jquery-3.4.1.min.js"></script>
            <!--popper min js-->
            <script src="assets/js/popper.js"></script>
            <!--bootstrap min js-->
            <script src="assets/js/bootstrap.min.js"></script>
            <!--owl carousel min js-->
            <script src="assets/js/owl.carousel.min.js"></script>
            <!--slick min js-->
            <script src="assets/js/slick.min.js"></script>
            <!--magnific popup min js-->
            <script src="assets/js/jquery.magnific-popup.min.js"></script>
            <!--counterup min js-->
            <script src="assets/js/jquery.counterup.min.js"></script>
            <!--jquery countdown min js-->
            <script src="assets/js/jquery.countdown.js"></script>
            <!--jquery ui min js-->
            <script src="assets/js/jquery.ui.js"></script>
            <!--jquery elevatezoom min js-->
            <script src="assets/js/jquery.elevatezoom.js"></script>
            <!--isotope packaged min js-->
            <script src="assets/js/isotope.pkgd.min.js"></script>
            <!--slinky menu js-->
            <script src="assets/js/slinky.menu.js"></script>
            <!-- Plugins JS -->
            <script src="/assets/js/plugins.js"></script>

            <!-- Main JS -->
            <script src="/assets/js/main.js"></script>
            
            <script src="/assets/js/user.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
                integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <!-- <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script> -->

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>


            <script>
                function submitForm() {
                    document.getElementById("filterForm").submit();
                }

                function submitSort() {
                    document.getElementById("sortForm").submit();
                }
                




        
            </script>

                

            


            </body>


            <!-- Mirrored from htmldemo.net/lukani/lukani/shop-fullwidth-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 27 Jun 2023 10:51:46 GMT -->

            </html>